.loginPage {
	color: #c7d0cc;
	background-image: linear-gradient(175deg, #0D0D0D 6%, #317172 65%, #B3D8D0 100%);
  height: 100vh;
  position: relative;
}
.particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}